<div>
	<h2 translate="marketTradeProcessorApp.tradeMessage.home.title">Trade Messages</h2>
	<jhi-alert></jhi-alert>
	<uib-tabset active="active"> <uib-tab index="0"> <uib-tab-heading> <i class="fa fa-table"></i> <span
		translate="marketTradeProcessorApp.tradeMessage.home.title"> </span> </uib-tab-heading> <br />
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="trade-message.new">
					<span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs" translate="marketTradeProcessorApp.tradeMessage.home.createLabel"> Create new
						Trade Message </span>
				</button>
			</div>
			<div class="col-xs-8 no-padding-right">
				<form name="searchForm" class="form-inline">
					<div class="input-group pull-right">
						<input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
							placeholder="{{ 'marketTradeProcessorApp.tradeMessage.home.search' | translate }}"> <span class="input-group-btn width-min">
							<button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> <span class="input-group-btn width-min" ng-if="vm.currentSearch">
							<button class="btn btn-info" ng-click="vm.clear()">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br />

	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="userId"><span translate="marketTradeProcessorApp.tradeMessage.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="currencyFrom"><span translate="marketTradeProcessorApp.tradeMessage.currencyFrom">Currency From</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="currencyTo"><span translate="marketTradeProcessorApp.tradeMessage.currencyTo">Currency To</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="amountSell"><span translate="marketTradeProcessorApp.tradeMessage.amountSell">Amount Sell</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="amountBuy"><span translate="marketTradeProcessorApp.tradeMessage.amountBuy">Amount Buy</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="rate"><span translate="marketTradeProcessorApp.tradeMessage.rate">Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="timePlaced"><span translate="marketTradeProcessorApp.tradeMessage.timePlaced">Time Placed</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="originatingCountry"><span translate="marketTradeProcessorApp.tradeMessage.originatingCountry">Originating Country</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tradeMessage in vm.tradeMessages track by tradeMessage.id">
					<td><a ui-sref="trade-message-detail({id:tradeMessage.id})">{{tradeMessage.id}}</a></td>
					<td>{{tradeMessage.userId}}</td>
					<td>{{tradeMessage.currencyFrom}}</td>
					<td>{{tradeMessage.currencyTo}}</td>
					<td>{{tradeMessage.amountSell | number: 2}}</td>
					<td>{{tradeMessage.amountBuy | number: 2}}</td>
					<td>{{tradeMessage.rate | number: 5}}</td>
					<td>{{tradeMessage.timePlaced | date:'medium'}}</td>
					<td>{{tradeMessage.originatingCountry}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="trade-message-detail({id:tradeMessage.id})" class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
							</button>
							<button type="submit" ui-sref="trade-message.edit({id:tradeMessage.id})" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
							</button>
							<button type="submit" ui-sref="trade-message.delete({id:tradeMessage.id})" class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
	</div>
	</uib-tab> <uib-tab index="1" select="vm.loadCharts()"> <uib-tab-heading> <i class="fa fa-pie-chart"></i> <span
		translate="marketTradeProcessorApp.tradeMessage.home.title"> </span> </uib-tab-heading> <br />
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="btn-group">
				<label class="btn btn-primary" ng-model="vm.dateRange" uib-btn-radio="null">All</label> <label class="btn btn-primary" ng-model="vm.dateRange"
					uib-btn-radio="'1,d'">1d</label> <label class="btn btn-primary" ng-model="vm.dateRange" uib-btn-radio="'1,w'">1w</label> <label class="btn btn-primary"
					ng-model="vm.dateRange" uib-btn-radio="'1,M'">1m</label> <label class="btn btn-primary" ng-model="vm.dateRange" uib-btn-radio="'3,M'">3m</label> <label
					class="btn btn-primary" ng-model="vm.dateRange" uib-btn-radio="'6,M'">6m</label> <label class="btn btn-primary" ng-model="vm.dateRange"
					uib-btn-radio="'1,y'">1y</label> <label class="btn btn-primary" ng-model="vm.dateRange" uib-btn-radio="'2,y'">2y</label> <label class="btn btn-primary"
					ng-model="vm.dateRange" uib-btn-radio="'5,y'">5y</label> <label class="btn btn-primary" ng-model="vm.dateRange" uib-btn-radio="'10,y'">10y</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>Total Amounts By Market</h4>
				<div class="chart-container">
					<canvas id="global" class="chart chart-bar" chart-options="vm.chartOptions" chart-data="vm.marketData.data" chart-labels="vm.marketData.labels"
						chart-series="vm.marketData.series"></canvas>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>Average Rate By Market</h4>
				<div class="chart-container">
					<canvas id="global" class="chart chart-line" chart-options="vm.chartOptions" chart-data="vm.marketRateData" chart-labels="vm.marketData.labels"></canvas>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4>Total Amount By Originating Country:</h4>
				<div class="chart-container">
					<canvas id="global" class="chart chart-pie" chart-options="vm.chartOptions" chart-data="vm.countryData.data" chart-labels="vm.countryData.labels"></canvas>
				</div>
			</div>
			<div class="col-md-6">
				<h4>Total Amounts For Specific Market:</h4>
				<form>
					<div class="form-group">
						<select name="market" class="form-control" ng-options="item as item for item in vm.marketData.labels track by item" ng-model="vm.currentMarket"
							ng-change="vm.updateCurrentMarketData()">
						</select>
					</div>
				</form>
				<div class="chart-container">
					<canvas id="global" class="chart chart-polar-area" chart-options="vm.chartOptions" chart-data="vm.currentMarketData.data"
						chart-labels="vm.currentMarketData.labels" chart-series="vm.currentMarketData.series"></canvas>
				</div>
			</div>
		</div>
	</uib-tab> </uib-tabset>

</div>
