<div>
    <h2 translate="marketTradeProcessorApp.tradeMessage.home.title">Trade Messages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="trade-message.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="marketTradeProcessorApp.tradeMessage.home.createLabel">
                        Create new Trade Message
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'marketTradeProcessorApp.tradeMessage.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span translate="marketTradeProcessorApp.tradeMessage.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currencyFrom"><span translate="marketTradeProcessorApp.tradeMessage.currencyFrom">Currency From</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currencyTo"><span translate="marketTradeProcessorApp.tradeMessage.currencyTo">Currency To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amountSell"><span translate="marketTradeProcessorApp.tradeMessage.amountSell">Amount Sell</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amountBuy"><span translate="marketTradeProcessorApp.tradeMessage.amountBuy">Amount Buy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rate"><span translate="marketTradeProcessorApp.tradeMessage.rate">Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timePlaced"><span translate="marketTradeProcessorApp.tradeMessage.timePlaced">Time Placed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originatingCountry"><span translate="marketTradeProcessorApp.tradeMessage.originatingCountry">Originating Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tradeMessage in vm.tradeMessages track by tradeMessage.id">
                    <td><a ui-sref="trade-message-detail({id:tradeMessage.id})">{{tradeMessage.id}}</a></td>
                    <td>{{tradeMessage.userId}}</td>
                    <td>{{tradeMessage.currencyFrom}}</td>
                    <td>{{tradeMessage.currencyTo}}</td>
                    <td>{{tradeMessage.amountSell | number: 2}}</td>
					<td>{{tradeMessage.amountBuy | number: 2}}</td>
					<td>{{tradeMessage.rate | number: 5}}</td>
                    <td>{{tradeMessage.timePlaced | date:'medium'}}</td>
                    <td>{{tradeMessage.originatingCountry}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="trade-message-detail({id:tradeMessage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trade-message.edit({id:tradeMessage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trade-message.delete({id:tradeMessage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
